huggingface_hub
git+https://github.com/huggingface/transformers.git
gradio_client==1.3.0
qwen-vl-utils==0.0.2
transformers-stream-generator==0.0.4
accelerate
diffusers
torchvision
peft
sentencepiece
spaces
requests
safetensors
torch
edge-tts
audiosegment
asyncio
scipy
librosa
pydub
ffmpeg-python
av